{% extends 'demo/base.html' %}

{% block content %}


 <div class="full" style="background-image:url('static/img/hm.jpg')">
 <div class="row">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div style="background:transparent !important;" class="jumbotron">
      <br>
      <div class="transparent">
        <p align='center'><b><font color='red'>Nyt Syystarjous !<br>51,70 eur / heittomotti</font><font color='navy'> kotimaista koivuklapia !</font></b></p>
      </div>
      <div class="transparent">
            <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
            </form>
       </div>
    </div>
</div> <!-- /container -->
</div>
</div>
{% endblock content %}
